<div id="<%= dom_id account_transaction %>">
  <td>
    <%= account_transaction.transaction_value %>
  </td>

  <td>
    <%= account_transaction.kind %>
  </td>

  <td>
    <%= account_transaction.bank_account_id %>
  </td>

  <td>
    <%= account_transaction.user_id %>
  </td>

  <td>
    <%= account_transaction.created_at %>
  </td>

</div>
