<p style="color: green"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Bank Account</th>
      <th scope="col">Transaction Limit</th>
      <th scope="col">Bank Agency</th>
      <th scope="col">Account Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= render @bank_account %>
      <td>
        R$ <%= cent_to_real(@bank_account.account_balance) %>
      </td>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to "Edit this bank account", edit_bank_account_path(@bank_account) %> |
  <%= link_to "Back to bank accounts", bank_accounts_path %>

  <%= button_to "Destroy this bank account", @bank_account, method: :delete %>
</div>
